!!!
%html
  %head
    %title= Attentive.title
    %script{:type => 'text/javascript', :src => 'assets/application.js'}
    %style{:type => 'text/css'}= Pygments.css
    %link{:rel => 'stylesheet', :href => 'assets/application.css', :type => 'text/css'}/
    = haml :"_header"
  %body.loading
    = yield

