- # this file gets included in the output, inside the <head> tags
- # use it for including things like Web fonts
%link{:href => 'http://fonts.googleapis.com/css?family=Nunito', :rel => 'stylesheet', :type => 'text/css'}/

